{% extends 'base.html' %}

{% block content %}
<div class="row">
	<img src="static/images/coronado.png" alt="Coronado Heights Elementary">
	<h1 class="text-center">Countdown Timer</h1>
</div>
<br/>
<br/>
<div class="row">
	<h2 class="text-center">Days Until School Starts:</h2>
</div>
<div class="row">
	<h2 class="text-center">{{ diffDay }} Days</h2>
</div>
<br/><br/>
<style>
	.container {
		font-size: 125%;
	}
</style>
<div class="container">
	<p>I am <strong>C</strong>apable,</p>
	<p>I <strong>O</strong>wn my choices,</p>
	<p>I am <strong>U</strong>nique,</p>
	<p>I have <strong>G</strong>rit,</p>
	<p>I am <strong>A</strong>ccepting,</p>
	<p>I am <strong>R</strong>esiliant,</p>
	<p><strong>I AM A COUGAR!</strong></p>
</div>
<br/><br/>
{% endblock %}