{% extends 'base.html' %}

{% block content %}
	<h1 class="text-center">Clayton Hensley</h1>
	<br/><br/>
	<div class="container">
		<h2>A Little About Me:</h2>
		<p align="justify">Hello, I am a resident of Oklahoma City. I have lived in the area since 2004. I am an Electrical Engineer by trade, but I 
			have a passion for creating software and have recently moved to creating websites. I am licensed as a Real Estate Agent and
		I love getting to meet the residents of Oklahoma. Everyone has their own story that they like to share. Well, I hope that you enjoy using this site</p>
		<br/><br/>
		<h2>Some Information About This Site:</h2>
		<p align="justify">I created this site originally as a way for my daughter to practice her math skills. Since then (and with the "Social Distancing
			with Covid-19"), I have also added a countdown timer that shows her how many days until she is able to go back to school. This has
			been helpful to her since she can now go and see how many more days until she is able to see all her friends at school. Feel free to
			 register for this site; however, you do not have to register to be able to use the math practice problems or to see the countdown.</p>
	</div>
{% endblock %}