{% extends 'base.html' %}

{% block content %}
<h2 class="text-center">Clayton Hensley - Junior Software Developer - Resume</h2>

<div class="container">
	<div class="jumbotron">
		<h3 class="display-4">Projects</h3>
		<div class="lead">List of completed projects with links.</div>
		<hr class="my-4">
		<div class="card" style="width: 18rem;">
		  <img src="static/images/python.jpg" class="card-img-top" alt="Picture of road">
		  <div class="card-body">
		    <h5 class="card-title">Math Practice - Python</h5>
		    <p class="card-text">This is a small program to help kids practice math that was build using Python and PyQt5.</p>
		    <a href="https://github.com/chensley1975/Python_mathProgram" target="_blank" class="btn btn-dark">See Project</a>
		  </div>
		</div>
	</div>

	<div class="jumbotron">
		<h3 class="display-4">Job Experience</h3>
		<div class="lead">List of previous job experiences.</div>
		<hr class="my-4">
		<div class="row">
			<div class="col-md-8"><strong>Lab Engineer - ClimateMaster - Oklahoma City, OK</strong></div><br/>
			<div class="col-md-4" align="right"><em>Mar 2019-Present</em></div>
		</div>
		<div class="col-md-8">
			<p align="left">
				Responsible for the implementation of the new PXI System in the lab which includes the creation and implementation of the LabView software. In addition to this, also helped to make the Lab Technicians more productive with the creation of desktop software (using .NET and C#) to help improve the testing and data gathering process.
			</p>
		</div>

		<div class="row">
			<div class="col-md-8"><strong>Lab Technician - ClimateMaster - Oklahoma City, OK</strong></div><br/>
			<div class="col-md-4" align="right"><em>Sep 2018-Mar 2019</em></div>
		</div>
		<div class="col-md-8">
			<p align="left">
				Tasked to help the Controls Group with the testing of software and hardware changes within the various boards used. Also, helped to test and troubleshoot a few field returns to isolate the root cause of the problem seen in the field.
			</p>
		</div>

		<div class="row">
			<div class="col-md-8"><strong>Lead Failure Analysis Technician - Schlumberger - Oklahoma City, OK</strong></div><br/>
			<div class="col-md-4" align="right"><em>Apr 2018-Aug 2018</em></div>
		</div>
		<div class="col-md-8">
			<p align="left">
				Lead electronics technician working on MWD equipment. Ensuring that all the technicians have the proper training and competencies to perform their jobs as well as making sure that all procedures are in place to make their jobs go efficiently. I also make sure that all failures that arrive in the facility are done in a timely manner with the root cause of the failure found before the tool is cleared for service. During this time, I created a program that will take all the data performed and automatically place it into a template (along with screenshots and/or pictures) to help streamline the process.
			</p>
		</div>

		<div class="row">
			<div class="col-md-8"><strong>TLM Production Planner - Schlumberger - Oklahoma City, OK</strong></div><br/>
			<div class="col-md-4" align="right"><em>Feb 2017-Apr 2018</em></div>
		</div>
		<div class="col-md-8">
			<p align="left">
				Responsible for ensuring that the required equipment is being worked on to meet production goals. This includes scheduling for the day, following up on parts shortages, and making sure the technicians have the tools they need to meet production goals. While performing this role, I created a local database (Microsoft Access) to keep track of all the tools needed for the day for each department. This program would let everyone know in Real-Time what was still needed and what had been fulfilled. The program would also email the shipping report to Logistics when the orders had been completed for each department so they would know when each department was completed (this would also send a shipping report for partial shipments so they were not waiting).
			</p>
		</div>

		<div class="row">
			<div class="col-md-8"><strong>Lead Electronics Technician - Schlumberger - Oklahoma City, OK</strong></div><br/>
			<div class="col-md-4" align="right"><em>Jan 2016-Feb 2017</em></div>
		</div>
		<div class="col-md-8">
			<p align="left">
				Lead Electronics Technician working on MWD equipment while ensuring that the less senior technicians were being trained properly and were up to date on all of their cerifications and training. During this time, I was in responsible 8 technicians.
			</p>
		</div>

		<div class="row">
			<div class="col-md-8"><strong>Directional Driller - Schlumberger - Oklahoma City, OK</strong></div><br/>
			<div class="col-md-4" align="right"><em>Oct 2013-Jan 2016</em></div>
		</div>
		<div class="col-md-8">
			<p align="left">
				Worked as a Directional Driller on standard Curve/Lateral jobs with Motor in the Curve and both Motor and PowerDrive in the Lateral. Also worked on Power-V jobs and nudges using a motor. During this time, I created a Failure Analysis program (using .NET and Visual Basic) to capture all the data during the time of the failure (using recorded data, pictures, and FTL information) and send it back to the office so they can get started looking into the failures before the tools arrived at the shop.
			</p>
		</div>

		<div class="row">
			<div class="col-md-8"><strong>MWD Specialist - Schlumberger - Oklahoma City, OK</strong></div><br/>
			<div class="col-md-4" align="right"><em>May 2010-Oct 2013</em></div>
		</div>
		<div class="col-md-8">
			<p align="left">
				Lead M/LWD Specialist on jobs mainly running SlimPulse jobs; however, also gained proficiency running CLPS, ShortPulse/ImPulse, TeleScope, and PeriScope.
			</p>
		</div>

		<div class="row">
			<div class="col-md-8"><strong>MidCon Rig Up Coordinator - Schlumberger - Oklahoma City, OK</strong></div><br/>
			<div class="col-md-4" align="right"><em>Jan 2010-May 2010</em></div>
		</div>
		<div class="col-md-8">
			<p align="left">
				Coordinate our team of individuals for both rigging up and rigging down the rigs. Our focus is on service quality and providing a solid start for the engineer on location by performing a perfect rig up/rig down each and every time.
			</p>
		</div>

		<div class="row">
			<div class="col-md-8"><strong>US Land High Volume Electronics Team Leader - Schlumberger - Commerce City, CO</strong></div><br/>
			<div class="col-md-4" align="right"><em>Jul 2009-Jan 2010</em></div>
		</div>
		<div class="col-md-8">
			<p align="left">
				I am responsible for the wellbeing and professional development of all High Volume electronic technicians here in Commerce City, CO. I look after the day to day operational details as well as all failures and repairs needed in the shop. I work on ensuring that all aspects of the R&M processes comply with the SQ standards set forth by D&M. I ensure that all deviations from these standards are properly inputted into Quest and approved before continuing. During this time, I was responsible for 18 technicians.
			</p>
		</div>

		<div class="row">
			<div class="col-md-8"><strong>MWD/Repair Maintenance Supervisor - Schlumberger - Oklahoma City, OK</strong></div><br/>
			<div class="col-md-4" align="right"><em>Jan 2006-Jul 2009</em></div>
		</div>
		<div class="col-md-8">
			<p align="left">
				I am responsible for the wellbeing and professional development of all MWD and repair technicians here in Oklahoma City. I also look after the day to day operational details as well as all failures and repairs needed in the shop. I am ensuring that all aspects of the R&M processes comply with the SQ standards set forth by D&M. I ensure that all deviations from these standards are properly inputted into Quest. I am currently in the process of starting a new training program for all new MWD technicians to help ensure proper procedures are followed and technicians do not work on tools before they have the proper knowledge. During this time, I was responsible for 32 technicians and I started the repair department, which was responsible for a reduction in turnaround time of approximately 36 days and a reduction in cost of approximately $2 million.
			</p>
		</div>

		<div class="row">
			<div class="col-md-8"><strong>Electronics Technician II/III - Schlumberger - Oklahoma City, OK</strong></div><br/>
			<div class="col-md-4" align="right"><em>Oct 2004-Jan 2006</em></div>
		</div>
		<div class="col-md-8">
			<p align="left">
				I am responsible for troubleshooting and repair of Slimpulse electronics with emphasis on service quality. I am also responsible to tracking of all tools and failures with the use of RMS. I am responsible for the creation and tracking of all Slimpulse related RAN's.
			</p>
		</div>

		<div class="row">
			<div class="col-md-8"><strong>Manufacturing Electronics Technician II - Schlumberger - Sugar Land, TX</strong></div><br/>
			<div class="col-md-4" align="right"><em>May 2003-Jan 2006</em></div>
		</div>
		<div class="col-md-8">
			<p align="left">
				I am responsible for testing, troubleshooting, and repair (when needed) of MDT tools. I troubleshoot down to the component level and do the repairs myself when feasible. I also coordinated testing efforts with Engineering to increase the quality of the boards coming from our suppliers. There were a couple of boards that did not have a high success rate (same failure modes on these boards) and through testing the pass/fail criteria used at the supplier was modified.
			</p>
		</div>

		<div class="row">
			<div class="col-md-8"><strong>Engineering Electronics Technician II - Schlumberger - Sugar Land, TX</strong></div><br/>
			<div class="col-md-4" align="right"><em>Oct 2000-May 2003</em></div>
		</div>
		<div class="col-md-8">
			<p align="left">
				I am responsible for troubleshooting and repair of Slimpulse electronics. I am also responsible for looking for and reporting any problems that seem to be recurring. I troubleshoot down to the component level and do some soldering as required. Through this effort several quality improvements have been made to the tool.
			</p>
		</div>
	</div>
		<br/><br/>
	</div>

	<div class="jumbotron">
		<h3 class="display-4">Programming Skills</h3>
		<div class="lead">List of programming languages in order of familiarity.</div>
		<hr class="my-4">
		<div class="row">
			<div class="col-md-3">
				<strong>Front End Skills</strong><br/>
				HTML&CSS<br/>
				Javascript<br/>
				Bootstrap<br/>
			</div>
			<div class="col-md-3">
				<strong>Backend Skills</strong><br/>
				C#<br/>
				Python<br/>
				SQLite<br/>
				MySQL Databases<br/>
				C++<br/>
				Java<br/>
			</div>
			<div class="col-md-3">
				<strong>Frameworks</strong><br/>
				Django<br/>
				Visual Studio<br/>
			</div>
			<div class="col-md-3">
				<strong>Internet Marketing</strong><br/>
				Facebook Marketing<br/>
			</div>
		</div>
	</div>

	<div class="jumbotron">
		<h3 class="display-4">Education</h3>
		<div class="lead">List of all education received.</div>
		<hr class="my-4">
		<div class="row">
			<div class="col-md-8"><strong>ITT Technical Institute - Oklahoma City, OK</strong></div><br/>
			<div class="col-md-4" align="right"><em>Aug 2006-May 2009</em></div>
		</div>
		<div class="col-md-8">
			<p align="left">
				Associates of Applied Science
				Electrical Engineering Technologies - Graduated with Honors
			</p>
		</div>
		<div class="row">
			<div class="col-md-8"><strong>University of Phoenix - Oklahoma City, OK (Online)</strong></div><br/>
			<div class="col-md-4" align="right"><em>Oct 2018-Jun 2019</em></div>
		</div>
		<div class="col-md-8">
			<p align="left">
				Certification
				Advanced Software Developers Certification - Graduated with Honors
			</p>
		</div>
	</div>
</div>
{% endblock %}